body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background: #23395B;
}
.nav-link,
.navbar-brand {
    color: #CBF7ED;
    cursor: pointer;
    font-size: 35px;
}
.nav-link {
    margin-right: 1em !important;
    transition-duration: 0.5s;
}
.nav-link:hover {
    color: #000;
    border-radius: 8px;
    background-color: white; 
    text-decoration: underline;
}
.navbar-collapse {
    justify-content: flex-end;
}

.nav-link{
    /* font-weight: bolder; */
    font-size: 25px;
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #12135a;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.button {
    border-radius: 8px;
    background-color: #73A8CE;
    border: 2px solid;
    border-color: #12135a;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
  }

  .button:hover{
    background-color: white; 
    color: black;
  }


.container {
	left: 0%;
	position: relative;
	top: 100%;
	text-align: left;
    color: white;
}
.container h1 {
    border-radius: 8px;
    background-color: #73A8CE;
    border: 2px solid;
	color: #191a68;
}
.container h2 {
	color: #12135a;
}
